actor-server {
  file-storage {
    close-timeout = 60 seconds
    base-path = "/tmp/actor-storage"
    path-depth = 5
  }

  sql {
    url = "jdbc:postgresql://localhost:5432/actor"
    user = "postgres"
    password = ""
  }

  akka-persistence-sql-async {
    url = "jdbc:postgresql://localhost:5432/actor"
    user = "postgres"
    pass = ""
  }

  sms {
    clickatell {
      user = "user"
      password = "password"
      api-id = "111222333"
    }

    twilio {
      account = "account name"
      token = "token"
      from = "+1222333444"
    }
  }

  gcm {
    token = "AIzaSyCAFyk6KvcLGsI2gfoIe-ODBLjyyhch5s0"
    dry-run = false
  }

  apns {
    cert {
      path = "apns/apns-dev.pfx"
      password = "private"
    }
  }
}
