jdbc {
  driver=org.postgresql.Driver
  url = "jdbc:postgresql://localhost:5432/actor"
  username = "postgres"
  user = ${jdbc.username}
  password = ""
  pass = ${jdbc.password}
}

db.default = ${jdbc}

file-storage = ${actor-server.file-storage}

actor-server {
  actor-system-name = "secret-api-server"

  sql = ${jdbc}
  jdbc-connection = ${jdbc}

  sms {
    clickatell {
      user = "user"
      password = "password"
      api-id = "111222333"
    }

    twilio {
      account = "account name"
      token = "token"
      from = "+1222333444"
    }
  }

  gcm {
    token = "AIzaSyCAFyk6KvcLGsI2gfoIe-ODBLjyyhch5s0"
    dry-run = false
  }

  apns {
    cert {
      path = "apns/apns-dev.pfx"
      password = "private"
    }
  }

  smtpd {
    certificate {
      password = "password"
      keystore = "ssl/keystore.jks"
    }
  }

  akka {
    remote {
      netty.tcp {
        port = 2553
        hostname = 127.0.0.1
      }
    }

    cluster {
      seed-nodes = [ "akka.tcp://secret-api-server@127.0.0.1:2553" ]
    }
  }
}
