application {
  secret="kAtHj<PEDUndYD9h@Ad9wFL?_d:MoHBv]>M_GE9c0y^F4Y;F@TRSt96ZLTV?gprt"
  langs="en"
}

dbplugin=disabled
evolutionplugin=disabled

db.default = {
  driver=org.postgresql.Driver
  url="jdbc:postgresql://127.0.0.1/actor"
  user=actor
  password=""
}

scalikejdbc.global.loggingSQLAndTime = {
  enabled = true
  logLevel = debug
  warningEnabled = true
  warningThresholdMillis = 1000
  warningLogLevel = warn
}

logger {
  root=ERROR
  play=INFO
  application=DEBUG
}
